@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap%22");



body
{
    font-family: "Kanit", sans-serif;
}

#Center
{
    border: 2px solid whitesmoke;
}

#ContainerRecentGroups
{
    margin-left: -15px;
    margin-bottom: 20px;
}

#ContainerAllGroups
{
    margin-left: -15px;
    margin-bottom: 20px;
}

#Footer
{
    background-color: lightgray;
    margin-top: -4px;
    margin-bottom: 5px;

    border-bottom-left-radius: 20px;
    border-color: black;

    display: flex;
    justify-content: right;
}

#Actions
{
    background-color: #4a7e794b;
    margin-bottom: 4px;

    border-radius: 5px;
    border-color: black;
    
    align-content: center;
    
    font-weight: bolder;
    
}

#Actions:hover
{
    background-color: #f0f8ff;
}

#GroupIcon
{
    background-color: #4a7e798c;
    margin-bottom: 4px;
    margin-right: 4px;

    border-radius: 15px;
    border-color: black;

    font-weight: bold;

    min-height: 50px;
    
}

#GroupIcon:hover
{
    background-color: #f0f8ff;
}

#Heading
{
    background-color: #4a7e79de;
    margin-bottom: 5px;

    color: white;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-color: black;

}

#small
{
    color: lightgray;
}

#Panel
{
    border: transparent;
}


#small
{
    min-height: 150px;
    min-width: 150px;

    max-width: 200px;
    max-height: 200px;



    height: 40px;
    width: 40px;
}









